
.error-container {
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif
}

.error-container h1 {
  font-weight: 800;
  font-size: 80pt;
  margin: 0;
}

.error-container p {
  margin: 0;
  font-size: 15pt;
}