
.navbar-container {
  display: flex;
  height: 60px;
  align-items: center;
}

.navbar-title-container {
  background-color: black;
  height: 100%;
  width: 250px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.navbar-title {
  margin: 0;
  padding: 1rem;
  color: white;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 28pt;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-buttons-container {
  background-color: rgb(214, 214, 214);
  width: 100%;
  height: 100%;
  display: flex;
}

.navbar-buttons-container a {
  display: block;
  background-color: none;
  height: 100%;
  border-radius: 0;
  border: none;
  width: 200px;
  font-size: 30pt;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  color: black;
}

.navbar-buttons-container a:hover {
  background-color: rgb(166, 166, 166);
}

.navbar-buttons-container a:active {
  background-color: rgb(127, 127, 127);
}

.navbar-buttons-container a.active {
  background-color: rgb(186, 208, 255);
}

.navbar-buttons-container a.active:hover {
  background-color: rgb(176, 201, 255);
}

.navbar-buttons-container a.active:active {
  background-color: rgb(165, 194, 255);
}