

.navbar-container {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  color: white;
}

.navbar-span {
  flex-grow: 1;
}

.navbar-container a {
  padding: 0.5rem 2rem;
  background-color: transparent;
  color: black;
  text-decoration: none;
  transition-duration: 100ms;
  border-bottom: 1px solid black;
}

.navbar-container a.active {
  border-bottom: 3px solid black;
}

.navbar-container a:hover {
  border-bottom: 5px solid black;
}

.navbar-container a:active {
  border-bottom: 3px solid black;
}