@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

body {
  margin: 0;
  background-color: rgb(249, 251, 255);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
